.toggle {
  --size: 1rem;
  all: unset;
  padding: 0;
  position: relative;
  display: block;
  width: 2rem;
  height: var(--size);
  border-radius: 100vmax;
  border: 1px solid hsl(213, 96%, 18%);
  background-color: hsl(213, 96%, 18%);
}
.toggle::before {
  --edge: 2px;
  position: absolute;
  content: '';
  top: calc(var(--edge) / 4);
  left: calc(var(--edge) / 4);
  width: calc(var(--size) - var(--edge));
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
}
.toggle:checked:before {
  left: unset;
  right: calc(var(--edge) / 4);
}