.toggle {
  --size: 1rem;
  --edge-gap: 2px;
  all: unset;
  padding: var(--edge-gap);
  position: relative;
  display: block;
  width: 2rem;
  height: var(--size);
  border-radius: 100vmax;
  border: 1px solid hsl(213, 96%, 18%);
  background-color: hsl(213, 96%, 18%);
}
.toggle::before {
  position: absolute;
  content: '';
  top: var(--edge-gap);
  left: var(--edge-gap);
  bottom: var(--edge-gap);
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
}
.toggle:checked:before {
  left: unset;
  right: var(--edge-gap);
}